


        /*内容部分*/
         .rush-page{
            background-color: #F6F6F6;
            padding-bottom: 50px;
            .cube{
                width: 100%;
                z-index: 13;
                position: relative;
                line-height: 60px;
                height: 60px;
                box-shadow: 0 7px 5px -1px rgba(0,0,0,.1);
                background-color: #F9F9F9;
            .cube-nav{
            width: 1200px;
            margin: 0 auto;
            position: relative;
            .nav-titleBox{
                position: absolute;
                left: 23px;
            .nav-title{
                font-size: 18px;
                text-decoration: none;
                color: #10181F;
                font-weight: 530;
            }
            }
            .menu{
                height: 60px;
                position: absolute;
                right: 220px;
                li{
                    float: left;
                    list-style: none;
                  
                    a{
                        display: block;
                        padding: 0 17px;
                        text-decoration: none;
                        font-size: 14px;
                        color: #000;
                        &:hover{
                            color: #EB0028;
                        }
                    }
                }
            }
            .nav-buy-btn-list{
                position: absolute;
                border-left: 2px solid #999;
                 margin-left: 15px;
                padding-left: 30px;
                 height: 18px;
                 line-height: 18px;
                right: 0;
                top: 20px;
                .btn-link{
                    height: 18px;
                a{
                    display: block;
                    font-size: 14px;
                    text-decoration: none;
                    color: #09c;
                    &:hover{
                        color: #0083b6;
                    }
                }
                }
            }
            }

            }
            .containers{
                width: 100%;
            .container-con{
                width: 1200px;
                margin: 0 auto;
                position: relative;
              display: flex;
                .left-part{
                    width: 50%;
                
                .left-img{
                    position: relative;
                    width: 480px;
                    height: 480px;
                    margin-bottom: 60px;
                    img{
                     position: absolute;
                      top: 0;
                      left: 10%;
                        width: 480px;
                        height: 480px;
                       display: none;
                       &:nth-child(1){
                           display: block;
                       }
                    }
                }
            .hide-scrollbar{
            .smo-img{
                padding-bottom: 20px;
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
                .smoImg{
                    width: 58px;
                    height: 58px;
                    list-style: none;
                    border: 1px solid #dfdfdf;
                    margin: 0 10px;
                    cursor: pointer;
                   
                    img{
                        width: 58px;
                        height: 58px;
                    }
                }
            }    
            }
            }
            .right-part{
                width: 50%;
                background: #f6f6f6;
                padding-top: 6%;
               
                    .text-black{
                        font-size: 24px;
                        color: #101920;
                        font-weight: 400;
                        margin: 10px 0;
                    }
                    .text-blacks{
                        font-size: 18px;
                        color: #101920;
                        font-weight: 400;
                        margin: 10px 0;
                    }
                    .sorts{
                        padding: 10px 0 20px;
                        .bp-cm-tit{
                            font-size: 16px;
                    line-height: 24px;
                     color: #333;    
                        }
                        .bp-box{
                        padding: 15px 0 0;
                        display: flex;
                        flex-wrap: wrap;
                        li{
                            list-style: none;
                            margin: 10px 20px 10px 0;
    box-sizing: border-box;
    width: 46%;
    height: 60px;
    line-height: 60px;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: border .2s;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    &:nth-child(1){
        border: 2px solid #EB0028;
    }
                        }
                        }
                    }
                    .font-block{
                        color: #101920;
                    }
               .retry-btn{
                   .add-cart{
                    display: block;
                    width: 190px;
                    height: 50px;
                    background-color: #eb0028;
                    color: #fff;
                    text-align: center;
                    text-decoration: none;
                    line-height: 50px;
                    transition: all .3s linear;
                    &:hover{
                        background-color: #B8001F;

                    }
                   }
               }
               .text{
                   padding-bottom: 20px;
                   display: inline-block;
               }
              
               .liyou{
                   color: #828282;
                   font-size: 14px;
                  
               }
               .icon-wenhao{
                position: relative;
                cursor: pointer;
                &:hover .help-tip{
                    display: block;
                }
                .help-tip{
                   z-index: 99;
                    position: absolute;
                    top: -200px;
                    right: -330px;
                    display: none;
                }
            }
               .pay-way{
                   padding-bottom: 15px;
                   height: 40px;
                   .pay-way-item{
                       float: left;
                       list-style: none;
                       margin-right: 14px;
                       line-height: 24px;
                       i{
                           font-size: 24px;
                       }
                      .icon--zhifubao{
                       color: #009FE8;
                      }
                      .icon-weixinzhifu{
                          color: #09BB07;
                      }
                      .icon-yinlianzhifu{
                          color: #00457D;
                      }
                      .icon-xinyongka{
                          color: #1296DB;
                      }
                   }
               }
                .margin-4x{
                    height: 20px;
                }
                .margin-10x{
                    height: 50px;
                }
                .frozen{
                    border-bottom: 1px solid #DFDFDF;
                }
            }
            }  
            }
         }

         
         /*底部悬浮*/
         .cube-front{
            background: #fff;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #e5e5e5;
            position: fixed;
            bottom: 0;
            z-index: 10000;
            width: 100%;
            right: 0;
            height: 60px;
            line-height: 60px;
            .buynow{
                width: 1200px;
                margin: 0 auto;
                height: 60px;
                .support-bar{ 
                    margin-left: 10%;
                    height: 160px;
                    display: inline-block;
                    .support-title{
                        font-size: 16px;
                    color: #000;
                    font-weight: 400;
                    }
                    .logos{
                        margin-left: 10px;
    display: inline-block;
    font-size: 14px;
  
                        img{
                            height: 20px;
                            vertical-align: middle;
                            margin-right: 5px;
                        }
                    }
                }
            .buy-right{
                float: right;
                .prices{
                    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    position: relative;
    top: 2px;
    font-style: normal;;
                }
                .buybtns{
                    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    .buy-sub{
        width: 118px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    background: #eb0028;
    color: #fff;
    border: 1px solid #d70226;
    margin-top: 10px;
    }
                }
            }
            }
         }
