

    /*内容主体部分*/

    .kv-banner{
        position: relative;
        height: 300px;
        .kv-img{
        img{
        margin-left: -1280px;
            position: absolute;
           left:50%;
        }
    }
        .kv-inner{
            position: absolute;
            right: 50%;
            left: 20%;
            top: 26%;
            color: #fff;
        .kv-tops{
            z-index: 99;
          
            font-size: 24px;
        }
        .kv-line{
            height: 30px;
        }
        .kv-cons{
            font-weight: 500;
            line-height: 26px;
        }
        .kv-bottom{
            padding-top: 10px;
            &:hover i{
                transform: translateX(50%) ;
              
                color: #B1BBC7;
            }
            a{
                text-decoration: none;
                color: #fff;
                &:hover{
                   text-decoration: underline;
                   color: #B1BBC7;
                }
            }
            i{
                font-size: 14px;
                display: inline-block;
                transition: all .5s linear;
            }
        }
    }
    }
    .clearance{
        height: 10px;
        background-color: #fff;
    }
    .big-banner{
        height: 680px;
        width: 100%;
        position: relative;
        
        .big-img{
            position: relative;
            width: 100%;
            img{
                position: absolute;
                margin-left:-720px;
                left: 50%;
            }
        }
        .big-inner{
            position: absolute;
            top: 50%;
            left: 20%;
            right: 52%;
            transform: translateY(-50%);
            z-index: 99;
            .inner-top{
                font-size: 34px;
            }
            .inner-con{
                margin-top: 6px;
           line-height: 42px;
           font-size: 18px;
              font-weight: 400;
            }
            .inner-buys{
                margin-top: 10px;
                margin-bottom: 10px;
                a{
                  display: inline-block;
                    text-align: center;
                    padding: 1px 20px;
                    border: 2px solid #000;
                    color: #000;
                    line-height: 36px;
                    border-radius: 5px;
                    text-decoration: none;
                  
                    vertical-align: middle;
                    &:hover{
                        border-width: 3px;
                        padding: 0px 19px;
                        background-color: hsla(0,0%,100%,.2)
                    }
                }
            }
            .inner-bottom{
                &:hover i{
                    transform: translateX(50%) ;
                   
                    color: #B1BBC7;
                }
                a{
                    text-decoration: none;
                    color: #000;
                    font-weight: 400;
                    &:hover{
                       text-decoration: underline;
                       color: #B1BBC7;
                    }   
                }
                i{
                    font-size: 14px;
                    display: inline-block;
                    font-weight: 400;
                    transition: all .5s linear;
                }
            }
        }
        .big-innertwo{
            left: 36%;
            right: 36%;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
        }
    }

    .home-promo{
        .promo-group{
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            flex-wrap: wrap;
            padding:20px 20px 0px 20px;
            box-sizing: border-box;
            width: 100%;
            li{
                list-style: none;
            }
            .promo-item:nth-child(odd){
                margin-right: 20px;
               
            }
            .promo-item{
            position: relative;
            display: list-item;
            width: calc(50% - 10px);
            height: 500px;
            margin-bottom: 20px;
            overflow: hidden;
            
            .promo-links{
                text-decoration: none;
              background: #A8A8A8;
             
             .promo-imgs{
                 position: relative;
                 background: #A8A8A8;
                img{
                    height: 500px;
                    transition: all .5s linear; 
                    width: 100%;
                }
                &:hover img{
                    transform: scale(1.07);
                    
                }
                &:hover .mubu{
                    opacity: 0.2;
                }
                
                .mubu{
                    width: 100%;
                    height: 500px;
                    opacity: 0;
                   position: absolute;
                   top: 0;
                   left: 0;
                    background: #000;
                }
             }
             .promo-text{
                position: absolute;
                width: 100%;
                text-align: center;
                top: 30px;
                z-index: 99;
                color: #000;
                p{
                    font-size: 24px;
                    margin-bottom: 15px;
                }
                span{
                    font-size: 18px;
                   
                }
                .promo-liaos{
                    margin-top: 20px;
                   b{
                     font-weight: normal;
                   }
                   i{
                    font-size: 14px;
                    display: inline-block;
                    font-weight: 400;
                    transition: all .5s linear;
                }
                }
            }
            .promo-text-while{
                color: white;
            }
            }
           &:hover .promo-text .promo-liaos b{
            text-decoration: underline;
            opacity: 0.6;
           }
           &:hover .promo-text .promo-liaos i{
            transform: translateX(50%) ;
                   
            opacity: 0.6;
           }
            
            }
        }
    }

    .image-txt1{
        width: 100%;
        height: 361px;
        background: #F6F6F6;
        padding: 50px 0;
    .imgtxt-list{
       width: 908px;
       margin: 0 auto;
    .imgtxt-list-item{
        display: inline-block;
        width: 276px;
        margin: 10px;
        height: 341px;
        background: #fff;
        transition: all 0.2s linear;
        &:hover{
            box-shadow: 0 0 8px rgba(0,0,0,.2);
    cursor: pointer;
        }
        &:hover .item-bottom i{
            transform: translateX(50%) ;
        }
        &:hover .item-bottom span{
            text-decoration: underline;
        }
        .item-imgs{
            overflow: hidden;
            img{
                width: 100%;
                transition: all .3s linear;
            }
        }
        &:hover .item-imgs img{
            transform: scale(1.07);
        }
        .item-txt{
            padding: 20px;
            .item-cons{
                h5{
                    line-height: 24px;
                    color: #666;
                   font-weight: 500;
                  font-size: 1pc;
                }
                p{
                    font-size: 18px;
                    font-weight: 400;
                    margin-top: 10px;
                    line-height: 1.5;
                }
            }
            .item-bottom{
                margin-top: 26px;
                color: #09c;
                font-weight: 400;
                i{
                    font-size: 14px;
                    display: inline-block;
                    font-weight: 400;
                    transition: all .3s linear;
                }
             
            }
        }
    }
    }
    }

        .image-txt2{
            width: 100%;
            height: 177px;
            padding: 40px 20px 0;
            border-bottom: 1px solid #CCCCCC;
            .txt2-row{
           display: flex;
           justify-content:space-around;
           flex-wrap: wrap;
           height: 137px;
           width: 1200px;
           margin: 0 auto;
           li{
               list-style: none;
               width: 200px;
               a{
                 display: block;  
                 text-align: center;
                 text-decoration: none;
                img{
                    margin-bottom: 20px;
                }
                p{
                    color: #000;
                }
               }
           }
            }
        }
            /* 固定定位二维码*/
            .guding{
                position: fixed;
                right: 20px;
                bottom: 50px;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                cursor: pointer;
                z-index: 50;
                img{
                    width: 100%;
                    height: 100%;
                }
            }

  