

        /*轮播图区域*/
    .banner{
        width: 100%;
        height: 360px;
      
    .banner-list{
       width: 100%;
        height: 360px;
        position: relative;
     a{ 
         display: block;
         height: 100%;
        img{   
          width: 100%;
          height: 100%;
          display: none;
          position: absolute;
          &:nth-child(1){
              display: block;
          }
        }
    }
    div{
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 50%;
        border: none;
        z-index: 999;
        position: absolute;
       
        margin-top: -25px;
        background-color: hsla(0,0%,84.7%,.2);
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        color: #7E838A;
        font-weight: bold;
    }
    .clickLeft{
        top: 50%;
        left: 9%;
    }
    .clickRight{
        top: 50%;
        right: 9%;
        z-index: 1;
    }
    }
    }

        /*商品列表*/
    .contents{
       border-top: 1px solid #dfdfdf;
    .con-lists{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 0;
        margin-right: -1px ;
        background: #f9f9f9;
        .list-cart{
            border-right: 1px solid #dfdfdf;
            width: 33.33%;
            box-sizing: border-box;
            cursor: pointer;
    background-color: #f9f9f9;
    transition: .25s;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
    &:hover{
        background: #fff;
    }
    >a{
        display: block;
        padding:10% 10% 0 10%;
        text-decoration: none;
        background-color: transparent;
      
        .card-img{
            width: 100%;
            padding-bottom: 100%;
            height: 0;
            position: relative;
         
            img{
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                &:nth-child(1){
                    display: block;
                }
            }
        }
        .version-info{
            margin-bottom: 7.5%;
            display: block;
        }
        .accessory-name{
            margin-top: 5px;
    margin-bottom: 5px;
    max-height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    text-align: center;
    width: 100%;
        }
        .accessory-price{
            display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 15%;
        }
        .text-sm {
            font-size: 14px;
            line-height: 1.7;
        }
        .text-black {
    color: #101920;}
    .text-gray {
        color: #828282;
    }
  
    }
    .BtnBox{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #F6F6F6;
        position: absolute;
        top:50%;
        margin-top: -25px;
        display: none;
      b{
        display: block;
          border-radius: 50%;
          height: 50px;
          text-decoration: none;
          line-height: 50px;
          text-align: center;
          color: #84888C;
          border: none;
          &:hover{

            color: #111A21;  
          }
      } 
    }
    .box-left{
        left:43px
    }
    .box-right{
        right: 43px;
    }
    &:hover .BtnBox{
        display: block;
    }
        }
       
    }
    }
        